@charset "UTF-8";

/* CSS Document */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Montserrat', sans-serif;

  background: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  color: #4702cc;
}

ul {
  list-style: none;
}

nav {
  position: relative;
  padding: 10px 12px;
  width: 110px;
  top: 145px;
  left: 74%;
  border-radius: 5px;
}

nav li, #instructions li, #prev, #next, #prev2, #next2, .steps, .steps2, a {
  cursor: pointer;
  color: inherit;
  transition: all 0.5s ease-in-out;
}

nav li:hover, #instructions li:hover, #prev, #next, #prev2, #next2, #prev:hover, #next:hover, #prev2:hover, #next2:hover, a:hover {
  color: #ffffff;
}

main {
  height: 350px;
  width: 600px;
  margin:auto;
  position: relative;
  top: 40px;
}

article {
  height: 100%;
  width: 100%;
  background-color: #fd868c;
  box-shadow: 0px 10px 15px #ad2747;
  border-radius: 5px;
  padding: 20px;
  position: absolute;
}

#start {
  display: block;
}

#history, #keyboards, .container, .slides, .slides2, #why, #instructions, #moreInfo {
  display: none;
}

h1, h2, h3, h4, h5, #instructions li, .steps, .steps2, .nextButton, .nextSlides {
  text-transform: uppercase;
}

.dot, .dot2, h3, h5 {
  text-align: center;
}

h1 {
  position: absolute;
  top: 25%;
  left: 5%;
  width: 430px;
  font-size: 30px;
  line-height: 40px;
}

h1 span {
  border-bottom: 5px solid #4702cc;
}

h1, h2, #instructions li, h5 {
  letter-spacing: 2px;
}

h2 {
  font-size: 25px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 7px;
}

#start section, #history section, .concept {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background-color: #fd868c;
  position: absolute;
}

#instructions li {
  margin-top: 30px;
  margin-left: 30px;
  padding: 10px;
  font-size: 24px;
}

#instructions li:first-child {
  margin-top: 70px;
}

#instructions li:hover {
  margin-left: 50px;
  border-left: 5px solid #ffffff;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
}

.container > div {
  height: 100%;
  width:100%;
  background-color:#fd868c;
}

#prev, #next, #prev2, #next2 {
  position: absolute;
  bottom: 37%;
  width: 20px;
  padding: 20px;
  font-size: 40px;
}

#prev, #prev2 {
  left: -115px;
}

#next, #next2 {
  right: -90px;
}


.steps, .steps2 {
  width: 200px;
  margin-top: 30px;
}

h4 {
  cursor: default;
  float: left;
  padding: 8px 7px 0px 7px;
}

.dot, .dot2 {
  display: inline-block;
  padding: 10px 10px 5px 10px;
  color: #dd5475;
  width: 30px;
}

.active, .dot:hover, .dot2:hover {
  border-bottom: 3px solid #4702cc;
  color: #4702cc;
}

h3 {
  position: absolute;
  top: 10px;
  width: 60%;
  font-size: 25px;
}

p, .text {
  font-size: 14px;
}

.concept p {
  margin-left: 30px;
  margin-bottom: 20px;
}

.container .text {
  float:left;
  position: absolute;
  bottom: 0px;
  left: 3%;
  height: 80%;
  width: 55%;
  /*border:1px solid yellow;*/
}

.container figure {
  float: right;
  height: 100%;
}

figure img {
  height: 310px;
  position: absolute;
  right: 0px;
}

a {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.concept p > a {
  position: static;
}

.nextButton, .nextSlides {
  padding: 5px 10px;
  border: 2px solid #fd868c;
  border-radius: 5px;
}

.nextButton:hover, .nextSlides:hover {
  border: 2px solid #ffffff;
}

.text ol {
  list-style-type: lower-alpha;
}

.text li {
  margin-left: 30px;
}

.text li:nth-child(2), .text li:nth-child(3) {
  margin-top: 10px;
}

h5 {
  position: absolute;
  top: -45px;
  left: 0px;
  font-size: 15px;
}
